.App{
  min-height: 100vh;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.search-form{
  display:flex;
  min-height: 20vh;
  justify-content: center;
  align-items: center;
}

.search-bar{
  border:none;
  border-radius: 5px;
  width : 50%;
  margin:10px auto;
  padding: 5px;
  min-height: 30px;
  font-size: 23px;
}

.search-button{
  margin:10px auto;
  padding: 8px;
  border:none;
  background-color: maroon;
  border-radius: 5px;
  cursor: pointer;
  min-height: 35px;
  min-width: 20px;
  font-size: 23px;
  color: white;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  right: 250px;
}

.search-bar:focus, .search-button:focus{
  outline: none;
}

.rec{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}